@import "reset";

.wrapper{
  width: $wrapper-width;
  margin: 0 auto;
  padding: 0 1.25em;
}

.left{
  float: left;
}

.right{
  float: right;
}

.col-25{
  width: 25%;
}

.col-50{
  width: 50%;
}

.col-75{
  width: 75%;
}